---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: ansd/main-bosh-docker-build-essential

inputs:
- name: ruby-2.4
- name: rubygems-2.7
- name: yaml-0.1
- name: ruby-release

outputs:
- name: bumped-ruby-release

run:
  path: ruby-release/ci/tasks/bump.sh

params:
  PRIVATE_YAML: ~
  RUBY_VERSION: ""
  RUBYGEMS_VERSION: ""
  LIBYAML_VERSION: ""
