---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/main-bosh-docker

inputs:
- name: ruby
- name: rubygems
- name: libyaml
- name: ruby-release
- name: semver

outputs:
- name: ruby-release

run:
  path: ruby-release/ci/tasks/bump.sh

params:
  PRIVATE_YML:
  RUBY_VERSION:
  RUBYGEMS_VERSION:
  LIBYAML_VERSION:
