---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/main-bosh-docker

inputs:
- name: ruby
- name: rubygems-2.7
- name: yaml-0.1
- name: ruby-release
- name: semver

outputs:
- name: ruby-release
  path: bumped-ruby-release

run:
  path: ruby-release/ci/tasks/bump.sh

params:
  PRIVATE_YAML: ~
  RUBY_VERSION: ""
  RUBYGEMS_VERSION: ""
  LIBYAML_VERSION: ""
